@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.banner-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 1rem;
    gap: 6px;
    overflow: hidden;
    text-align: center;
    max-height: 2.5rem;
}

.banner-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: black;
}

.banner-content {
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 0.2rem 1rem;
    background: white;
    color: black;
    border-radius: 9999px;
    backdrop-filter: blur(8px);
    gap: 12px;
}

.banner-text {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #4b5563;
}

.banner-flag {
    padding: 0 1rem;
    cursor: default;
}

.banner-strong {
    margin-right: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: black;
    text-align: start;
    max-width: 40vw;
}

.banner-donate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    font-weight: 500;
    color: #dc2626;
    transition: transform 0.3s, background 0.3s;
    border-radius: 9999px;
}

.banner-donate:hover {
    transform: scale(1.05);
    background: #fef2f2;
}

.banner-donate:focus {
    outline: 2px solid #dc2626;
    outline-offset: 4px;
}

.dot-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    background: #dc2626;
    border-radius: 50%;
}

.dot.ping {
    position: absolute;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.dot.pulse {
    position: absolute;
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.close-button {
    position: absolute;
    right: 1rem;
    z-index: 10;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: lightgray;
    cursor: pointer;
    padding: 0 0.5rem;
    transition: color 0.3s ease;
}

.close-button:hover {
    scale: 1.1;
    transition: color 1s ease;

}

@keyframes ping {

    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}


@media (max-width: 768px) {
    .banner-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem 2rem;
        gap: 0px;
        overflow: hidden;
        text-align: center;
        max-height: 2rem;
    }

    .banner-bg {
        position: absolute;
        inset: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: black;
    }

    .banner-content {
        z-index: 10;
        display: flex;
        align-items: center;
        padding: 0.2rem 0rem;
        margin: 1rem 0;
        background: white;
        color: black;
        border-radius: 99999px;
        gap: 0px;
    }

    .banner-text {
        display: flex;
        align-items: center;
        font-size: 0.5rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.05em;
        color: #4b5563;
    }

    .banner-flag {
        padding: 0 0.6rem;
        cursor: default;
    }

    .banner-strong {
        margin-right: 0.5rem;
        font-size: 0.6rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: black;
        text-align: start;
        max-width: 90vw;
    }

    .banner-donate {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0rem 0.5rem;
        font-size: 0.6rem;
        font-weight: 500;
        color: #dc2626;
        transition: transform 0.3s, background 0.3s;
        border-radius: 9999px;
    }

    .close-button {
        right: 0;
        font-size: 1.2rem;
        color: lightgray;
        padding: 0 0.5rem;
        transition: color 0.3s ease;
    }
}

@media (max-width: 356px) {
    .banner-content {
        padding: 0;
    }

    .dot {
        width: 0.4rem;
        height: 0.4rem;
        background: #dc2626;
        border-radius: 50%;
    }

    .banner-donate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 2rem;
    }

    .banner-strong {
        line-height: 0.7rem;
        font-size: 0.6rem;
    }

    .close-button {
        right: 0;
        font-size: 1.2rem;
        color: lightgray;
        padding: 0 0.5rem;
        transition: color 0.3s ease;
    }
}